---
stylesheets:
  - ../../static/fonts/fonts.css
  - ../styles/main.scss
title: Главная
links:
  - href: ./login.hbs
    link: Авторизация
  - href: ./registration.hbs
    link: Регистрация
  - href: ./404.hbs
    link: 404
  - href: ./500.hbs
    link: 500
---

{{#extend "base"}}
	{{#content "main"}}
		{{#each links}}
			<div>{{> link}}</div>
		{{/each}}
	{{/content}}
{{/extend}}