<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../static/fonts/fonts.css">
	<title>Document</title>
</head>
<body>
	<div id="main">
		<a href="./login/login.hbs">login</a>
	</div>
</body>
</html>